.employee-container {
  border: 1px;
  border: 1px solid rgba(80, 82, 80, 0.37);
  width: 230px;
  margin: 5px;
  border-radius: 12px 12px;
}
.employee-header {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid rgba(80, 82, 80, 0.37);
}
.employee-title {
  padding: 5px;
}
.employee-image {
  width: 45%;
  overflow: hidden;
  align-items: "center";
}
.image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.emp-designation {
  color: darkgray;
  padding: 10px 0px;
}

.phone-icon {
  margin: 2px 8px 0px 4px;
  border-bottom: 1px solid rgba(80, 82, 80, 0.37);
}
.emp-details {
  padding: 5px 0px;
}
