<div>
  <main>
    <div class="main">
      <div class="sidebar">
        <div>
          <img
            src="https://cdn.prod.website-files.com/64134591aea9175754d2b969/64141daf1251e368265da841_logo-black.png"
          />
        </div>
        <div class="menu">
          <div class="sidebar-menu">
            <a
              class="sidebar-menu-item"
              routerLink="/"
              routerLinkActive="active"
              ><b>Home</b></a
            >
          </div>
          <li class="sidebar-menu">
            <a
              class="sidebar-menu-item"
              routerLink="/create"
              routerLinkActive="active"
              ><b>Add Employee</b></a
            >
          </li>
        </div>
        <div class="sidebar-footer">
          <div class="sidebar-menu">
            <img
              class="logout-icon"
              src="assets/images/customer-service.png"
              height="13px"
            />
            <a
              class="sidebar-menu-item"
              routerLink="/"
              routerLinkActive="active"
              ><b>Get Help</b></a
            >
          </div>

          <div class="sidebar-menu">
            <img
              class="logout-icon"
              src="assets/images/logout.png"
              height="13px"
            />
            <a
              class="sidebar-menu-item"
              routerLink="/"
              routerLinkActive="active"
              ><b>Logout</b></a
            >
          </div>
        </div>
      </div>

      <div class="main-screen">
        <header>
          <h1>{{ title }}</h1>
          <nav class="nav-links"></nav>
        </header>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
